version: 2
jobs:
    build:
        docker: # run the steps with Docker
            - image: circleci/node:8
        steps:
            - checkout
            - run:
                  name: update npm
                  command: "sudo npm install -g npm@latest"
            - restore_cache:
                  key: dependency-cache-{{ checksum "package.json" }}
            - run:
                  name: Install node modules
                  command: npm install
            - run:
                  name: Test
                  command: npm test
            - run:
                  name: Deploy
                  command: git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git
            - save_cache:
                  key: dependency-cache-{{ checksum "package.json" }}
                  paths:
                      - ./node_modules
